# Python Inmersion Bootcamp
Manuel Montoya Gamio | Data Scientist

Execute cells: `Ctrl + Enter` / `Shift + Enter`

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Hello, world!

In [2]:
print('Hello, world!')

Hello, world!

## Calculator

In [3]:
5+6

11

In [4]:
10/3

3.3333333333333335

In [5]:
'hola'

'hola'

## Operators

`+ - * / ** // %`

In [6]:
5*3

15

In [7]:
5**2

25

In [8]:
10**5

100000

In [9]:
1e6

1000000.0

In [10]:
25 ** (1/2)

5.0

integer division

In [11]:
5 / 2

2.5

In [12]:
5 // 2

2

In [13]:
5 % 2

1

In [14]:
58.3 * 42.5

2477.75

In [15]:
'hola' * 5

'holaholaholaholahola'

In [16]:
'hola' / 5

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [17]:
'hola' + 'parlante'

'holaparlante'

In [18]:
3 + 5

8

## Data types

In [19]:
3

3

In [20]:
2.5

2.5

In [21]:
'cadena'

'cadena'

`type`

In [22]:
type(5)

int

In [23]:
type(12.5)

float

In [24]:
type('abdfafdsaf')

str

## Variables

<img src = 'https://starecat.com/content/wp-content/uploads/c-plus-plus-can-not-compare-float-and-int-python-variable-is-variable.jpg' width='250'>

assignment and expressions

In [25]:
variable = 5 + 6 * 2

In [26]:
variable

17

In [27]:
type(variable)

int

In [28]:
variable = 56.5

In [29]:
variable

56.5

In [30]:
type(variable)

float

In [31]:
base = 10
altura = 20

print(base)
print(altura)

area = base * altura / 2

print(area)

10
20
100.0

In [32]:
print('El area del triangulo es ' + area)

TypeError: can only concatenate str (not "float") to str

Operator precedence
* Parenthesis
* Exponents
* Multiplication / division
* Addition / substraction

In [33]:
a = 1 + 3 * 5 + 2 ** 3
a

24

In [34]:
b = 1 + (3 * 5 + 2) ** 3
b

4914

In [35]:
c = 5*8/4/2*6 + 1*0
c

30.0

implicit and explicit casting

In [36]:
a = 7.5

In [37]:
int(a)

7

In [38]:
print('El area del triangulo es ' + str(area))

El area del triangulo es 100.0

In [39]:
b = 5
c = 7.5

b + c

12.5

In [40]:
a = 5
print('a is a type ' + str(type(a)) + ': ' + str(a))


a = float(a)
print('a is a type ' + str(type(a)) + ': ' + str(a))

a is a type <class 'int'>: 5
a is a type <class 'float'>: 5.0

rules for variable names

In [41]:
numero = 5
numero

5

In [42]:
_numero = 5
numero

5

In [43]:
NUMERO = 10

In [44]:
numero, NUMERO

(5, 10)

In [45]:
número = 7
numero, NUMERO, número

(5, 10, 7)

In [46]:
100numeros = 100

SyntaxError: invalid syntax (229091516.py, line 1)

In [47]:
numero$primo = 7

SyntaxError: invalid syntax (645410843.py, line 1)

In [48]:
numero_100 = 100

reserved keywords: https://www.programiz.com/python-programming/keyword-list

## Functions

In [49]:
def greeting(name):
    print('Hello, ' + name)

In [50]:
greeting('Manuel')

Hello, Manuel

In [51]:
greeting('John')

Hello, John

more parameters

In [52]:
def favorite_song(name, song):
    print('Hello, ' + name + '. Your best song is ' + song)

In [53]:
favorite_song('Bad Bunny', 'Un Coco')

Hello, Bad Bunny. Your best song is Un Coco

In [54]:
favorite_song('Shakira', 'Las de la intuición')

Hello, Shakira. Your best song is Las de la intuición

In [55]:
def the_hello_function():
    print('Hello')

In [56]:
the_hello_function()

Hello

returning values

In [57]:
message = favorite_song('Shakira', 'Las de la intuición')

Hello, Shakira. Your best song is Las de la intuición

In [58]:
message

In [59]:
def favorite_song(name, song):
    value = 'Hello, ' + name + '. Your best song is ' + song
    return value

In [60]:
message = favorite_song('Shakira', 'Las de la intuición')

In [61]:
message

'Hello, Shakira. Your best song is Las de la intuición'

sum of numbers

In [62]:
def sum_of_numbers(a, b):
    value = a + b
    return value

In [63]:
sum1 = sum_of_numbers(3,4)
sum2 = sum_of_numbers(4,5)

sum1, sum2

(7, 9)

In [64]:
def power_of_numbers(a, b):
    value = a ** b
    return value

print(power_of_numbers(5, 2))
print(power_of_numbers(2, 5))

25
32

code reuse

In [65]:
name = 'Karol'
number = len(name)
print('Hello, ' + name + ', your lucky number is ', str(number))

name = 'Rebecca'
number = len(name) 
print('Hello, ' + name + ', your lucky number is ', str(number))

Hello, Karol, your lucky number is  5
Hello, Rebecca, your lucky number is  7

In [66]:
def lucky_number(name):

    number = len(name)
    print('Hello, ' + name + ', your lucky number is ', str(number))
    
lucky_number('Karol')
lucky_number('Rebecca')

Hello, Karol, your lucky number is  5
Hello, Rebecca, your lucky number is  7

code style

In [67]:
def my_function(a):
    x = 3.1416
    v = x * a ** 2
    return v

my_function(5)

78.53999999999999

docstring

In [68]:
def area_of_triangle(radius):
    '''this function calculates the area of a radius
    
    params:
        radius(float): radius of the circle
        
    returns:
        area(float): area of the circle
    '''
    
    pi = 3.1416
    area = pi * radius ** 2
    return area

area_of_triangle(5)

78.53999999999999

In [69]:
help(area_of_triangle)

Help on function area_of_triangle in module __main__:

area_of_triangle(radius)
    this function calculates the area of a radius

    params:
        radius(float): radius of the circle

    returns:
        area(float): area of the circle

In [70]:
#the following script calculates the area of a circle
radius = 2
pi = 3.1416
area = pi * radius ** 2
area

12.5664

`None`

In [71]:
def returns_nothing():
    x = 2
    y = 5

In [72]:
result = returns_nothing()

In [73]:
result

In [74]:
print(result)

None

In [75]:
def sum_and_product(number1, number2):
    
    result_sum = number1 + number2
    result_product = number1 * number2
    
    return result_sum, result_product

In [76]:
sum_and_product(10, 42)

(52, 420)

In [77]:
out_sum, out_product = sum_and_product(10, 42)

In [78]:
out_sum

52

In [79]:
out_product

420

too many values to unpack

In [80]:
out_sum, out_product, out_power = sum_and_product(10, 42)

ValueError: not enough values to unpack (expected 3, got 2)

## Comparing values

comparison operators: ```> < == !=```

In [81]:
4 < 5

True

In [82]:
10 > 20

False

In [83]:
4 == 5

False

In [84]:
4 != 5

True

In [85]:
'bunny' == 'bunny'

True

boolean

In [86]:
a = 10 > 20

In [87]:
a

False

In [88]:
type(a)

bool

logical operators: ```and or not```

In [89]:
True and True

True

In [90]:
True and False

False

In [91]:
False and True

False

In [92]:
False and False

False

In [93]:
not 4 < 5

False

In [94]:
numero = 35

(numero > 10) and (numero < 30)

False

```1 < "1"```

In [95]:
1 < "1"

TypeError: '<' not supported between instances of 'int' and 'str'

In [96]:
"a" < "b"

True

In [102]:
ord('a'), ord('b')

(97, 98)

In [103]:
"A" < "a"

True

In [104]:
"big" < "small"

True

In [105]:
1 == "1"

False

0 is False, everything else True

In [106]:
int(True)

1

In [107]:
int(False)

0

In [108]:
bool(10)

True

In [109]:
bool(0)

False

In [110]:
bool(-10)

True

## Branching

In [111]:
number = 10

if number > 0:

    print('Your number is positive')
    print('Your number is: ' + str(number))

Your number is positive
Your number is: 10

In [112]:
number = -10

if number > 0:

    print('Your number is positive')
    print('Your number is: ' + str(number))
    
else:
    
    print('Your number is not positive')
    print('Your number is: ' + str(number))

Your number is not positive
Your number is: -10

In [113]:
number = 80

if number > 0:

    print('Your number is positive')
    print('Your number is: ' + str(number))
    
elif number == 0:
        
    print('Your number is zero')
        
else:
        
    print('Your number is negative')
    print('Your number is: ' + str(number))

Your number is positive
Your number is: 80

# Exercises 1

## 1.1 Taylor Swift

Complete the script by filling in the missing parts. The function receives a name, then returns a greeting based on whether or not that name is "Taylor".

In [114]:
def greeting(name):
    
    if name == 'Taylor':
        
        return "Welcome back Taylor!"
    
    else:
        
        return "Hello there, " + name

print(greeting("Taylor"))
print(greeting("John"))

Welcome back Taylor!
Hello there, John

## 1.2 Seconds, minutes and hours
Write a function that gets a number of seconds and returns the number of hours, minutes and seconds

```def convert_seconds(seconds)```

convert_seconds(125) should return 0, 2, 5

In [123]:
def convert_seconds(seconds):
    
    hours = seconds // 3600
    minutes = (seconds % 3600) //60
    seconds = seconds - 60*minutes - 3600*hours
    
    return hours, minutes, seconds

In [124]:
convert_seconds(125)

(0, 2, 5)

## 1.3 No pikachu
<img src="https://am23.mediaite.com/tms/cnt/uploads/2018/09/Pokemon-G1-610x322.jpg" width= 400px, align='left'>

Write a function that chooses the rivals pokemon


```
rival_pokemon("charmander") should return "squirtle"
rival_pokemon("squirtle") should return "bulbasaur"
rival_pokemon("bulbasaur") should return "charmander
```

In [125]:
def rival_pokemon(pokemon):
    
    if pokemon == "charmander":
        return "squirtle"
    elif pokemon == "squirtle":
        return "bulbasaur"
    elif pokemon == "bulbasaur":
        return "charmander"
    else:
        return ""

In [126]:
rival_pokemon("squirtle")

'bulbasaur'

In [127]:
rival_pokemon("pikachu")

''

## 1.4 the python way
Create a script that switches the value of two variables.

In [128]:
#a should be 10 and b should be 5

#a = 5
#b = 10

a, b = 5, 10
a, b = b, a

a, b

(10, 5)

## 1.5 Miles to kilometers
Write a script that converts miles to kilometers (1 mile is around 1.6 kilometers) and prints the distance of a trip

In [129]:
# 1) Complete the function to return the result of the conversion

def convert_distance(miles):
    km = 1.6 * miles
    return km

my_trip_miles = 55

# 2) Convert my_trip_miles to kilometers by calling the function above
my_trip_km = convert_distance(my_trip_miles)

# 3) Fill in the blank to print the result of the conversion
print("The distance in kilometers is " + str(my_trip_km))

# 4) Calculate the round-trip in kilometers by doubling the result, and fill in the blank to print the result
print("The round-trip in kilometers is " + str(2*my_trip_km))

The distance in kilometers is 88.0
The round-trip in kilometers is 176.0

## 1.6 Exam pass/fail

Students in the micromaster receive their grades as Pass/Fail. Scores of 70 or more (out of 100) mean that the grade is "Pass". For lower scores, the grade is "Fail". In addition, scores above 95 are graded as "Top Score". Fill in this function so that it returns the proper grade.

In [130]:
def exam_grade(score):
    
    #your beautiful code here
    if score > 95:
        grade = "Top Score"
    
    elif score >= 70:
        grade = "Pass"
    
    else:
        grade = "Fail"
    
    return grade

print(exam_grade(75)) # Should be Pass
print(exam_grade(55)) # Should be Fail
print(exam_grade(70)) # Should be Pass
print(exam_grade(95)) # Should be Pass
print(exam_grade(100)) # Should be Top Score
print(exam_grade(0)) # Should be Fail

Pass
Fail
Pass
Pass
Top Score
Fail

# 1.7 Longest word 
The longest_word function is used to compare 3 words. It should return the word with the most number of characters (and the first in the list when they have the same length). Fill in the blank to make this happen.

In [132]:
def longest_word(word1, word2, word3):
    if len(word1) >= len(word2) and len(word1) >= len(word3):
        word = word1
    elif len(word2) >= len(word1) and len(word2) >= len(word3):
        word = word2
    else:
        word = word3
    
    return(word)

print(longest_word("chair", "couch", "table"))
print(longest_word("bed", "bath", "beyond"))
print(longest_word("laptop", "notebook", "desktop"))

chair
beyond
notebook

## 1.8 Left padding
An ecommerce company stores the serial number of client orders as integers. Since they are migrating to a new database they want to change the format to an eight digit string with leading zeros. That way, order 123 should become order 00000123, order 12345 should become order 00012345.

Write a function that adds leading zeros to the store order numbers and returns a formated padded string

In [134]:
'000' + '4555'

'0004555'

In [133]:
def lpadding(number):

    #your beautiful code here
    str_number = str(number)
    len_number = len(str_number)
    
    if len_number < 8:
        
        padded_string = '0'*(8 - len_number) + str_number
        return padded_string

    else:
        return str_number

        
#should return "00012345"
print(lpadding(12345))

#should return "01234567"
print(lpadding(1234567))

#should return "12345678"
print(lpadding(12345678))

00012345
01234567
12345678

## 1.9 Name formatting
Write a program that formats the first and last name of a given character according to the given parameters

```
print(format_name("Ella", "Fitzgerald"))
Name: Fitzgerald, Ella


print(format_name("", "Einstein"))
Name: Einstein
```

In [137]:
def format_name(first_name, last_name):
    
    # your beautiful code here
    string = "Name: "
    
    if len(last_name) + len(first_name) == 0:
        return ""
    elif len(last_name) > 0 and len(first_name) > 0:
        string += last_name + ', ' + first_name
    else:
        string += first_name + last_name
        
    return string 


print(format_name("Ernest", "Hemingway"))
# Should return "Name: Hemingway, Ernest"

print(format_name("", "Madonna"))
# Should return "Name: Madonna"

print(format_name("Voltaire", ""))
# Should return "Name: Voltaire"

print(format_name("", ""))
# Should return an empty string

Name: Hemingway, Ernest
Name: Madonna
Name: Voltaire

## 1.10 Number of blocks 
A filesystem has a block size of 4096 bytes. This means that a file of only 1 byte will use 1 block of 4096 bytes, a file of 4097 bytes will use 2 blocks of 4096 bytes. Complete the function to calculate the number of blocks that a file will use.

In [138]:
def calculate_storage(filesize):
    
    block_size = 4096
    
    # Use floor division to calculate how many blocks are fully occupied
    full_blocks = filesize // block_size
    
    # Use the modulo operator to check whether there's any remainder
    partial_block_remainder = filesize % block_size
    
    # Depending on whether there's a remainder or not, return
    # the total number of bytes required to allocate enough blocks
    # to store your data.
    
    if partial_block_remainder == 0:
        
        return full_blocks * 4096
    
    return (full_blocks + 1) * 4096

print(calculate_storage(1))    # Should be 4096
print(calculate_storage(4096)) # Should be 4096
print(calculate_storage(4097)) # Should be 8192
print(calculate_storage(6000)) # Should be 8192

4096
4096
8192
8192

## 1.11 Fractional part
Write a function that returns the fractional part of a division (a number between 0 and 1). For example, if the numerator is 10 and the denominator is 3 it should return 0.333

In [140]:
def fractional_part(numerator, denominator):
    
    #your beautiful code here
    if denominator == 0:
        return 0
    
    return (numerator%denominator) / denominator

print(fractional_part(5, 5)) # Should be 0
print(fractional_part(5, 4)) # Should be 0.25
print(fractional_part(5, 2)) # Should be 0.5
print(fractional_part(5, 0)) # Should be 0
print(fractional_part(0, 5)) # Should be 0

0.0
0.25
0.5
0
0.0

## 1.12 Secure password generator

Use a Python script to generate a random password of 10 characters. 
Each time the program is run, a new password should be generated randomly. 

The password must contain:
* 4 uppercase letters from A to Z,
* 4 lowercase letters from a to z,
* 2 digits from 0 to 9

In [153]:
ord('a'), ord('z'), ord('A'), ord('Z'), ord('0')

(97, 122, 65, 90, 48)

In [155]:
chr(97)

'a'

In [162]:
import random

def shuffle(string):
    '''this function shuffles the order of the characters of a given string'''

    tempList = list(string)
    random.shuffle(tempList)
    
    return ''.join(tempList)


def get_random_character(kind):
    
    if kind == 'lowercase':
        return chr(random.randint(ord('a'), ord('z')))
    elif kind == 'uppercase':
        return chr(random.randint(ord('A'), ord('Z')))
    elif kind == 'number':
        return chr(random.randint(ord('0'), ord('9')))
    else:
        return ''

def password_generator():

    lowercase_chars = 4
    uppercase_chars = 4
    number_chars = 2
    
    password = ''
    
    #your beautiful code here
    for _ in range(lowercase_chars):
        password += get_random_character('lowercase')
        
    for _ in range(uppercase_chars):
        password += get_random_character('uppercase')
        
    for _ in range(number_chars):
        password += get_random_character('number')
    
    password = shuffle(password)
    
    return password
    
    
#should be three different passwords
print(password_generator())
print(password_generator())
print(password_generator())

0ySBEt2yqM
ds3Ijj6QHR
inGYp99eDL

## Referencias

* Python for everybody (Coursera): https://www.coursera.org/specializations/python
* Python for everybody (book): https://www.py4e.com/book.php

## Contact

Manuel Montoya Gamio
* Correo: manuel.montoya@pucp.edu.pe
* Telegram / Whatsapp: +56942703126